.filter {
  position: fixed;
  height: 100vmax;
  width: 100vw;
  top: 0;
  background-color: #151515ad;
  z-index: -2;
}

.categoryClass {
  top: 160px;
  font-weight: 800;
  font-size: 1.8rem;
  text-decoration: underline;
  position: relative;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.container {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 180px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  z-index: 5;
}

.boxes {
  width: auto;
  height: 300px;
}

.imgcontainer {
  width: 200px;
  height: 260px;
  margin: 15px;
  margin-bottom: 0px;
}
.imgcontainer .imgs {
  height: 220px;
  width: 150px;
  margin: 16px;
  margin-bottom: 0px;
  padding: 6px;
  cursor: pointer;
  transition: ease-in 0.15s;
}
.imgcontainer .imgs:hover {
  transform: scale(1.1);
}

.years {
  font-size: 0.75rem;
}

.viewMore {
  padding: 4px 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(185, 185, 185);
  font-size: 0.75rem;
  margin: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}
.viewMore:hover {
  background-color: transparent;
  color: #fff;
}
