.topfixed {
  background-color: #0000001f;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.title {
  width: 200px;
  padding: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.9rem;
}

.linkHome {
  text-decoration: none;
  color: #fff;
}

.icon {
  border-radius: 48%;
  text-align: center;
}

#menu {
  color: #fff;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25px;
  right: 160px;
  font-size: 1.7rem;
  cursor: pointer;
}

.menuIcon {
  position: absolute;
  top: 15%;
  left: 15%;
  font-weight: 900;
  cursor: pointer;
  z-index: 5;
}

.siderMenus {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: #000;
  color: #fff;
}

.searchbox {
  padding: 9px;
  margin-bottom: 20px;
  background-color: #fff;
  color: gray;
  display: inline;
  width: auto;
  border: none;
  border-radius: 10px;
  z-index: -1;
}
.searchbox i {
  color: gray;
}
.searchIcon {
  position: relative;
  bottom: -5px;
}

#input {
  border: none;
  font-size: 1.1rem;
  color: #000;
}
#input:focus {
  /* display: none; */
  outline: none;
}

header {
  height: 100%;
  width: 100%;
}

.heroimagedesktop {
  height: 100%;
  width: 100%;
}

#img {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: -2;
}

.avatarcontainer {
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  padding: 2px 5px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 35px;
  z-index: 10;
  cursor: pointer;
}
.displayNone {
  display: none;
}

.avatar {
  animation:
    typing 5s steps(30) infinite,
    blink 0.7s infinite;
}

.avatarTxt {
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
  margin-left: 5px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  animation:
    typing 5s steps(30) infinite,
    blink 0.7s infinite;
}
@keyframes typing {
  0% {
    width: 17px;
  }
  50% {
    width: 130px;
  }
  100% {
    width: 17px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.avatarImg {
  height: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  #img {
    width: 100%;
    height: 100vmax;
    display: block;
    background-position: center;
    background-repeat: repeat-y;
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    z-index: -2;
  }
  .searchbox {
    padding: 5px 7px;
  }
  #input {
    font-size: 1rem;
  }
  .title {
    font-size: 0.9rem;
  }
  .menuIcon {
    z-index: 5;
  }
  .avatarcontainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    position: fixed;
  }
}
